@font-face {
	font-family: 'vcr_osd_monoregular';
	src: url('VCR_OSD_MONO.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: vcr_osd_monoregular;
}

html{
	background-color: black;
	color: white;
	overflow: hidden;
	width: 100%;
	height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}
.hidden{
    transition: all 1s ease-in-out !important;
    opacity:0;
    max-height:0;
    max-width:0;
    display:none;
    padding:0 !important;
    margin:0 !important;
    border:none !important;
    overflow:hidden;
}





.tile-screen {
	padding: 0.5em 0.5em 0.5em 0.5em;
	width: 100%;
	height: calc(100vh - 200px);
}
.tile-back {
	width: 153px;//calc(100vw - 20px);
	height: 99px;//50%;
	float: left;
	z-index: 3;
	transition: 0.3s;
	opacity: 0.8;
}
.tile-refresh {
	max-width: 153px;//calc(100vw - 20px);
	max-height: 153px;//50%;
	position: absolute;
	top: 180px;
	left: 10px;
	z-index: 3;
	transition: 0.2s;
	opacity: 0.8;
}
.tile-back:hover {
	opacity: 1;
}
.tile-refresh:hover{
	opacity: 1;
}
.tile-content {
	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	vertical-align: middle;
	height: 100%;
	//color: rgb(253, 293, 18);
	color: rgb(255, 255, 255);
}
.tile-image-icon {
	max-width: 70%;
	max-height: 70%;
	border-radius: 10%;
}
.tile-label {
	font-size: 32px;
	padding-top: 5px;
	color: rgb(180, 180, 180);
}



.tile-wallet {
	border: 1px rgb(255, 40, 40) solid;
	border-radius: 0px;
	width: calc((100vw - 60px)*0.5);
	height: calc((100vh - 230px)*0.5);
	position: absolute;
	top: 170px;
	left: 20px;
	transition: 0.15s;
	box-shadow: 3px 3px 3px #000000;
}
.tile-wallet:hover {
	border: 1px rgb(255, 0, 0) solid;
	//border-radius: 25px;
	top: 173px;
	left: 23px;
	box-shadow: 1px 1px 1px #000000;
}



.tile-tech {
	border: 1px rgb(40, 255, 40) solid;
	border-radius: 0px;
	width: calc((100vw - 60px)*0.5);
	height: calc((100vh - 230px)*0.5);
	position: absolute;
	top: 170px;
	right: 20px;
	transition: 0.1s;
	box-shadow: 3px 3px 3px #000000;
}
.tile-tech:hover {
	border: 1px rgb(0, 255, 0) solid;
	//border-radius: 25px;
	top: 173px;
	right: 23px;
	box-shadow: 1px 1px 1px #000000;
}



.tile-whitepaper {
	border: 1px rgb(180, 140, 40) solid;
	border-radius: 0px;
	width: calc((100vw - 60px)*0.5);
	height: calc((100vh - 230px)*0.5);
	position: absolute;
	bottom: 40px;
	left: 20px;
	transition: 0.1s;
	box-shadow: 3px 3px 3px #000000;
}
.tile-whitepaper:hover {
	border: 1px rgb(210, 170, 0) solid;
	//border-radius: 25px;
	bottom: 37px;
	left: 23px;
	box-shadow: 1px 1px 1px #000000;
}



.tile-team {
	border: 1px rgb(40, 40, 255) solid;
	border-radius: 0px;
	width: calc((100vw - 60px)*0.5);
	height: calc((100vh - 230px)*0.5);
	position: absolute;
	bottom: 40px;
	right: 20px;
	transition: 0.1s;
	box-shadow: 3px 3px 3px #000000;
}
.tile-team:hover{
	border: 1px rgb(0, 0, 255) solid;
	//border-radius: 25px;
	bottom: 37px;
	right: 23px;
	box-shadow: 1px 1px 1px #000000;
}





.tile-submit-transaction {
	border: 2px rgb(253, 293, 18) solid;
	width: calc(100vw - 40px);
	height: calc((100vh - 160px)*0.15);
	position: absolute;
	bottom: 40px;
	left: 20px;
	transition: 0.1s;
	box-shadow: 3px 3px 3px #000000;
}
.tile-submit-transaction:hover {
	bottom: 37px;
	left: 23px;
	box-shadow: 1px 1px 1px #000000;
}








.about-content-div{
	overflow: scroll;
	overflow-x: hidden;
	width: calc(100vw - 65px - 153px);
	max-height: 80vh;
	position: absolute;
	top: 100px;
	left: 193px;
}




.deposit-contents{
	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	vertical-align: middle;
	height: 100%;
}

.tile-back-deposit{
	position: absolute;
}
.deposit-warnings{
	padding: 20px 20px 20px 20px;
	width: 80vw;
}
.deposit-address{
	width: 80vw;
	text-align: center;
}
.deposit-submit{
	padding: 20px 20px 20px 20px;
	font-size: 34px;
	color: rgb(255,255,255) !important;
 }
  .deposit-submit:hover{
	  color: rgb(215,215,215) !important;
  }
 .deposit-submit:active{
 	color: black !important;
  }





/* Safari 4.0 - 8.0 */
@-webkit-keyframes notifMove {
	from {height: 0%;}
	to {height: 15%;}
}

@keyframes notifMove {
	from {height: 0%;}
	to {height: 15%;}
}




.logoImage {
	border-radius: 50%;
}
.miningGif {
	width: 17px;//8%;
	height: 15px;//8%;
	padding-left: 8px;
}
.hashrate {
	//float: right;
	padding-left: 7px;
}

.profileImage {
	border-radius: 50%;
	width: 69px;
	height: 69px;
}

.header {
	padding: 10px 20px 10px 20px;
	min-height: 143px;//16px;
	overflow: break-word;
	max-height: 143px;
}
#speechBubble{

}
.speech-bubble-area{
	//border-style: solid;
	//border-color: green;
	width: calc(100vw - 210px);
	height: calc(133px);
	position: absolute;
	top: 20px;
	right: 20px;

	text-align: left;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	//align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.infoHeaderTable {
	color: white;
	border: 1px solid;

	height: 75px;
}
.infoHeaderTable:hover {
	color: hotpink;
	border: 1px solid;

	height: 75px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  color: white;
}


/* Float the link section to the right */
.header-right {
	float: right;
}

.nimAddressRow {
	vertical-align: text-top;
}
.balanceRow {
	vertical-align: text-bottom;
}
.nimAddressLabel {
	vertical-align: text-top;
	width: 180px;
	align: left;
}
.balanceLabel {
	vertical-align: text-bottom;
	width: 180px;
	align: left;

}
.nimAddressValue {
	text-align: right;
}
.balanceValue {
	text-align: right;
}



//Links
a {
	color: hotpink;
	text-decoration: none;
}
a:link {
	color: hotpink;
	text-decoration: none;
}
a:visited {
	color: hotpink;
	text-decoration: none;
}
a:hover {
	color: hotpink;
	text-decoration: none;
}
a:active {
	color: hotpink;
	text-decoration: none;
}

//Address for depositing
.nimiqAddressSubmitTextArea{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 28;
	background-color: black;
}

//Canvas
.canvas-inner-center {
	margin: 0;
	padding: 0;
	//border: 1px solid red;
}

#linkToNimiqDotCom{
	color: hotpink;
	text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	//border: 1px solid red;
	overflow: hidden;
	min-height: 11px;
	max-height: 11px;
	width: 100%;
	padding-bottom: 1em;
	padding-top: 0.2em;
	text-align: center;
}
